################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Bingo/.vs/Bingo/v15/Server/sqlite3
